<a href="https://colab.research.google.com/github/EntropyP/News_Update/blob/main/News_Update_Main_Program_UserVersion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# News Update acquisition : Main Program

In [1]:
! pip install newsapi-python

# import libraries
from newsapi import NewsApiClient
import datetime as datetime
import pandas as pd

# input api_key (Request from https://newsapi.org/)
newsapi = NewsApiClient(api_key = 'a51013f42c6d46e3b3fa974d7363d177')

#Input key search and maximum page search
key_search = input('Please input your key search: ')
page_search = 100

#Create final dataframe which will collect all news in the focus area according to key_search
df_final = pd.DataFrame()

#Search data from each key_search
for key in key_search:
  try:
    data = newsapi.get_everything(q = key, language = 'en', page_size= page_search, sort_by='relevancy')
    articles = data['articles']
    df_news = pd.DataFrame(articles)
    df_news['key'] = key
    df_final = df_final.append(df_news,ignore_index=True)
  except:
    print('There is no search result for "', key ,'"')

#The final dataframe which was classified by topic
df_final['source_name'] = df_final['source'].apply(pd.Series)['name']
df_final.head()

#Save to excel
file_name = input('For save, Please enter file name: ')
df_final.to_excel(file_name + '.xlsx')

#Scrapping
import bs4
import requests

headers = {
    'User-agent':
    "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36 Edge/18.19582"
}

#reuters
def reuters():
  content = soup.findAll('p', class_= 'Text__text___3eVx1j Text__dark-grey___AS2I_p Text__regular___Bh17t- Text__large___1i0u1F Body__base___25kqPt Body__large_body___3g04wK ArticleBody__element___3UrnEs')
  content_final = ''
  for con in content:
    content_final += con.text
  return content_final

#yahoo
def yahoo():
  content = soup.findAll('p')
  content_final = ''
  for con in content:
    if '<p class=' in str(con):
      continue
    else:
      content_final += con.text
  return content_final

#summary library
from gensim.summarization.summarizer import summarize

#create dataframe for data storage
df_extract = df_final.copy(deep=True)
df_extract = df_extract[['title','url','publishedAt','key','source_name']]
df_extract['Summary'] = None
df_extract['Full_Text'] = None

#main program
for row, column in df_extract.iterrows():
  if column['source_name'] == 'Reuters':
    ori_link = column['url']
    link = requests.get(ori_link,headers=headers)
    soup = bs4.BeautifulSoup(link.text,'lxml')
    try:
      text = reuters()
      df_extract.loc[row, ['Summary']] = summarize(text, ratio=0.3)
      df_extract.loc[row, ['Full_Text']] = text
    except:
      pass
  elif column['source_name'] == 'Yahoo Entertainment':
    ori_link = column['url']
    link = requests.get(ori_link,headers=headers)
    soup = bs4.BeautifulSoup(link.text,'lxml')
    try:
      text = yahoo()
      df_extract.loc[row, ['Summary']] = summarize(text, ratio=0.3)
      df_extract.loc[row, ['Full_Text']] = text
    except:
      pass

#Save to excel
df_extract = df_extract.dropna()
df_extract.to_excel(file_name + '_summary.xlsx')
df_extract.head()

Collecting newsapi-python
  Downloading newsapi_python-0.2.6-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.7/dist-packages (from newsapi-python) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->newsapi-python) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->newsapi-python) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->newsapi-python) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->newsapi-python) (2021.10.8)
Installing collected packages: newsapi-python
Successfully installed newsapi-python-0.2.6
Please input your key search: SCG
For save, Please enter file name: SCG_file

                                                title  ...                                          Full_Text
16               2021's cutest baby animals - Reuters  ...
17   2021's major cryptocurrency trends - Reuters.com  ...
21  LIVE MARKETS 2021's swagger signals 2022 stren...  ...  Jan 4 - Welcome to the home for real-time cove...
22       Floods kill ten in S. African city - Reuters  ...
23  Tesco and M&S lift outlook after strong Christ...  ...

[5 rows x 7 columns]

In [2]:
df_final.head()

                                   source           author  ... key     source_name
0  {'id': 'engadget', 'name': 'Engadget'}     Cherlynn Low  ...   S        Engadget
1  {'id': 'engadget', 'name': 'Engadget'}       Jon Fingas  ...   S        Engadget
2  {'id': 'engadget', 'name': 'Engadget'}        Kris Holt  ...   S        Engadget
3  {'id': None, 'name': 'New York Times'}  Lauren McCarthy  ...   S  New York Times
4  {'id': None, 'name': 'New York Times'}  Emmanuel Morgan  ...   S  New York Times

[5 rows x 10 columns]